<!-- start custom head snippets -->

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">

<!-- Preconnect for youtube playing -->
<!-- 1. Critical for the player and thumbnails -->
<link rel="preconnect" href="https://www.youtube-nocookie.com" crossorigin>
<link rel="preconnect" href="https://i.ytimg.com" crossorigin>
<!-- 2. Use dns-prefetch as a lighter fallback for data and assets -->
<link rel="dns-prefetch" href="https://googlevideo.com">
<link rel="dns-prefetch" href="https://yt3.ggpht.com"> <!-- Channel icons -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com"> <!-- Player fonts -->

<a href="https://wa.me/85263578708" class="whatsapp-float" rel="noopener" target="_blank">
  <span class="whatsapp-text">歡迎預約諮詢 <i class="fab fa-whatsapp whatsapp-icon"></i></span>
</a>

<!-- end custom head snippets -->