<!-- start custom head snippets -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">

<script type="application/ld+json">
{
   "@context":"https://schema.org",
   "@type":"Physiotherapy",
   "name":"邱忠榮物理治療師 | 培康物理治療",
   "image":"https://yourdomain.com",
   "@id":"https://yourdomain.com",
   "url":"https://yourdomain.com",
   "telephone":"+852-6357-8708",
   "medicalSpecialty":"物理治療 | Physiotherapy",
   "isAcceptingNewPatients":"true",
   "priceRange":"$$",
   "areaServed":[
      {
         "@type":"Country",
         "name":"HK"
      }
   ],
   "address":{
      "@type":"PostalAddress",
      "streetAddress":"河內道5-7號10樓1001室 | Room 1001, 10/F, 5-7 Hanoi Road",
      "addressLocality":"Tsim Sha Tsui",
      "addressRegion":"Kowloon",
      "addressCountry":"HK"
   },
   "geo":{
      "@type":"GeoCoordinates",
      "latitude":22.297765,
      "longitude":114.17422
   },
   "hasMap":"https://maps.app.goo.gl/ZvJJ1k1dNm7k1aTj8",
   "openingHoursSpecification":[
      {
         "@type":"OpeningHoursSpecification",
         "dayOfWeek":[
            "Monday",
            "Wednesday",
            "Friday",
            "Saturday"
         ],
         "opens":"10:00",
         "closes":"20:00"
      }
   ],
   "sameAs":[
      "https://www.youtube.com/@物理治療師邱忠榮",
      "https://www.instagram.com/markyauphysiohk/",
      "https://www.threads.com/@markyauphysiohk",
      "https://www.facebook.com/markyauphysiohk/",
      "https://wa.me/85263578708"
   ],
   "amenityFeature":[
      {
         "@type":"LocationFeatureSpecification",
         "name":"無障礙設施 | Wheelchair Accessible",
         "value":"true"
      },
      {
         "@type":"LocationFeatureSpecification",
         "name":"電梯直達 | Elevator Access",
         "value":"true"
      }
   ],
   "potentialAction":[
      {
         "@type":"ReserveAction",
         "name":"立即預約",
         "target":{
            "@type":"EntryPoint",
            "urlTemplate":"https://wa.me/85263578708",
            "actionPlatform":[
               "DesktopWebPlatform",
               "MobileWebPlatform"
            ]
         },
         "result":{
            "@type":"Reservation",
            "name":"立即預約 (WhatsApp)"
         }
      },
      {
         "@type":"CommunicateAction",
         "name":"歡迎查詢",
         "target":{
            "@type":"EntryPoint",
            "urlTemplate":"https://wa.me/85263578708",
            "actionPlatform":[
               "DesktopWebPlatform",
               "MobileWebPlatform"
            ]
         },
         "result":{
            "@type":"Message",
            "name":"歡迎查詢 (WhatsApp)"
         }
      }
   ],
   "knowsAbout":[
      {
         "@type":"Specialty",
         "name":"手法治療 | Manual Therapy"
      },
      {
         "@type":"Specialty",
         "name":"關節鬆動術 | Mobilization"
      },
      {
         "@type":"Specialty",
         "name":"關節舒整術 | Manipulation"
      },
      {
         "@type":"Specialty",
         "name":"關筋膜鬆動術 | Myfascial Release"
      },
      {
         "@type":"Specialty",
         "name":"乾針炙 | Dry Needling"
      },
      {
         "@type":"Specialty",
         "name":"聚焦式衝擊波 | Shockwave Therapy"
      },
      {
         "@type":"Specialty",
         "name":"RF射頻筋膜刀 | Myofascial Release Therapy with Radiofrequency Therapy"
      },
      {
         "@type":"Specialty",
         "name":"干擾波電療 | Interferential Therapy"
      },
      {
         "@type":"Specialty",
         "name":"超聲波治療 | Ultrasound Therapy"
      },
      {
         "@type":"Specialty",
         "name":"牽引治療 | Traction Therapy"
      },
      {
         "@type":"Specialty",
         "name":"冷療壓力治療 | Cold Compression Therapy"
      },
      {
         "@type":"Specialty",
         "name":"神經肌肉電刺激治療 | Neuromuscular Electrical Stimulation, NMES"
      },
      {
         "@type":"Specialty",
         "name":"經皮神經電刺激治療 | Transcutaneous Electrical Nerve Stimulation, TENS"
      },
      {
         "@type":"Specialty",
         "name":"普拉提 | Pilates"
      },
      {
         "@type":"Specialty",
         "name":"訂制ICB鞋墊"
      },
      {
         "@type":"Specialty",
         "name":"枕頭建議"
      }
   ]
}
</script>

{% include whatsapp-button.html %}


<!-- end custom head snippets -->